{% extends "base.html" %} 
{% block title %} Monitor {% endblock %} 
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <div id="liveAlertPlaceholder"></div>
      <h1>Monitor</h1>
      <section id="search_form">
        <div class="row">
            <div class="col-md-12">
              <form action = "" method = "GET">
                <label for="driverID">DriverID:</label><br>
                <input class="form-control" type="text" id="driverID" name="driverID" value="{{ driverID }}"><br>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
      </section>
      <div id="Contentcontainer" style="min-width:400px;height:400px"></div>
    </div>
  </div>
</div>


  <script type="text/javascript">



    $(function () {
      $.getJSON('/data?driverID={{ driverID }}', function (data) {
        var items = [];
        var speeding = 80;
        console.log(data)
          $.each(data, function (i, v) {
            items.push(v[0]); 
          });
    
        // Create the chart
        $('#Contentcontainer').highcharts('StockChart', {
          chart: {
            events: {
              load: function () {
                var chart = $('#Contentcontainer').highcharts();
                var series = chart.series[0];
                //30 seconds interval
                setInterval(function () {         
                  $.getJSON("/data?driverID={{ driverID }}", function (res) {
                    var showalert = false;
                    $.each(res, function (i, v) {
                      if (!items.includes(v[0]) & v[1]>speeding){
                        showalert = true;
                        items.push(v[0]); 
                      }
                      series.addPoint(v);
                    });
                    if(showalert == true ){
                      alert("Speed too fast!!!", "danger");
                    }
                  });
                }, 30000);
              }
            }
          },
          rangeSelector: {
            enabled: false
        },
          title : {
            text : 'Real Time Driving Speed : {{ driverID }}'
          },
          series : [{
            name : 'Speed',
            data : data,
            tooltip: {
              valueDecimals: 2
            }
          }]
        });
      });
    });


    var alertPlaceholder = document.getElementById('liveAlertPlaceholder')

    function alert(message, type) {
      var wrapper = document.createElement('div')
      wrapper.innerHTML = '<div class="alert alert-' + type + ' alert-dismissible" role="alert">' + message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'

      alertPlaceholder.append(wrapper)
    }

  </script>

{% endblock %}
